@media screen and (max-width: 650px ) {

    #lego-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    #right-mobile-icons {
        display: inline-block;
        margin-left: 6vw;

    }

    #right-mobile-icons > img {
        width: 5.5vw;
        height: 5.5vh;
        padding: 0.5vh 0.5vw;
        border-radius: 50%;
    }

    .logo-web {
        width: 21vw;
        height: 4vh;

    }

    #humborger-bot-left {
        display: inline-block;
        margin-right: 6vw;
    }

    #humborger-bot-left > img {
        width: 5.5vw;
        height: 5.5vh;
        padding: 0.5vh 0.5vw;
        border-radius: 50%;
    }

    #humbger-menu-items {
        display: none;
        /*
        display: inline-block;
        background-color: #272727;
        width: 100%;
        text-align: center;*/
    }

    #humbger-menu-items > button {

        width: 10vw;
        height: 5vh;
        font-size: 1.2vw;
        margin: 4vh 10vw;
        background-color: transparent;
        border: 2px #EB9452 solid;
        color: #e88f22;
        border-radius: 16px;
    }

    .item-nav {
        width: 80%;
    }

    .item-nav ul li {
        padding: 1em 0;
        color: #dcdbdb;
    }

    .item-nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        font-size: 3.5vw;
        font-weight: 350;
        cursor: pointer;
    }

    #humbger-menu-items > img:first-child {
        width: 20vw;
        height: 10vh;
    }

    #nav-container {
        display: none;
    }

    .head-product-box {
        display: none;
    }

    #mobile-box-prod {
        margin-top: 13vh;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
    }

     #mobile-box-prod-img {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    #mobile-box-prod-img::-webkit-scrollbar {
        display: none;
    }

    .post-box::-webkit-scrollbar {
        display: none;
    }

    #mobile-box-prod-img > img {
        width: 85%;
        margin: 0 0.5vw;
        height: 40vh;


    }

    #mobile-box-prod > h1 {
        direction: rtl;
        font-size: 7vw;
        margin: 2vh 1vw
    }


    .brand-post > strong {
        display: inline-block;
        direction: rtl;
        margin-top: 2.5vh;
    }

    #table-menu {
        margin-top: 3vh;

    }

    #table-menu tr td > span {
        padding: 0 1vw;
    }

    .belif-ditail {
        direction: rtl;
    }

    .belif-ditail span, strong {
        margin: 0 1vw;
    }

    .mobile-box-detail {
        width: 80%;
        margin-top: 8vh;
    }

    #mobile-table {
        width: 80%;
        direction: rtl;
        margin-left: 15vw;
    }

    #mobile-table tr td {
        font-size: 3vw;
        direction: rtl;
    }

    #mobile-table tr td > span {
        padding: 0 1vw;
    }

    .size-product {
        margin-right: 1vw;
        height: 3vh;
        width: 11vw;
        font-size: 2.5vw;
    }

    .price-part {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        margin-top: 8vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;

    }

    .price-part section {
        width: 30vw;
        direction: ltr;

    }

    .price-part section > p {
        margin-left: 2vw;
        font-size: 3vw;
        direction: ltr;
    }

    .price-part section > span {
        margin-left: 2vw;
        font-size: 3vw;
        text-decoration-line: line-through;
        text-decoration-color: #272727;
    }

    .price-part section > img {
        width: 3vw;
        height: 2.6vh;
        margin: 0 2vw
    }

    .sell-product-bot {
        font-size:2.8vw;
        text-align: center;
        background-color: #EB9452;
        padding: 2.5vh 9vw;
        box-shadow: 1px 1px 3px 1px gray;
        color: black;


    }

    .box-style-product {
        width: 95%;
        margin: 0;
        background-color: white;
        box-shadow: none;
        border-radius: 0;
        padding: 0 2vw;
    }

    .box-style-product > p {
        direction: rtl;
        padding: 1vh 1vw;
        line-height: normal;
        text-align: justify;
        text-justify: inter-cluster;
        font-size: 2.5vw;
    }

    .box-style-product2 {
        width: 96%;
        margin: 0;

        background-color: white;
        box-shadow: none;
        border-radius: 0;
        padding: 3vh 2vw;
    }

    .box-style-product2 table tr td {
        font-size: 2.5vw;
        margin: 1vh 9vw;
    }

    .box-style-product2 > p {
        font-size: 2.5vw;
        margin: 1vh 3vw;
    }

    .box-style-product2 > textarea {
        padding: 1vh 1vw;
        font-size: 2.3vw;
        border-radius: 16px;
        width: 80%;
        margin-right: 2vw;
    }

    .box-style-product2 > button:hover {
        background-color: #EB9452;
        color: #f1f0f0;
    }

    .box-style-product2 > button {
        width: 18vw;
        height: 5vh;
        font-size: 2.2vw;
        margin: 4vh 10vw;
        background-color: transparent;
        border: 2px #EB9452 solid;
        color: #e88f22;
        border-radius: 16px;
    }

    .footer-box-property {
        display: none;
    }

    #mobile-footer-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 7vh;
    }

    #footer-detail {
        display: none;
    }

    #footer-mobile-ditail {
        display: none;
    }

    #footer-mobile-ditail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-mobile-ditail h4 {
        margin-top: 1vh;
        font-size: 3.3vw;
        direction: rtl;
    }

    #footer-mobile-ditail p {
        margin-top: 1vh;
        font-size: 2.7vw;
        color: dimgray;
        direction: rtl;
    }

    #footer-mobile-ditail section {
        margin-top: 4vh;

    }

    #footer-mobile-ditail section img {
        width: 2vw;
        height: 2vh;
        margin-left: 1vw;
    }

    #footer-mobile-ditail section span {
        font-size: 3vw;
        margin-left: 1vw;
    }

    #footer-end a {
        display: none;
    }

    #footer-end p {
        font-size: 3.5vw;
        margin-left: 17.5vw;
        direction: rtl;
    }
}