* {
    margin: 0;
    padding: 0;
}

#lego-container {
    text-align: center;
    background-color: #272727;
}

.logo-web {
    width: 10vw;
    height: 6vh;

}

#nav-container {
    width: 100%;
    height: 80px;
    padding-top: 8vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    background-color: #272727;
    color: white;
}

#profil-box > img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-left: 2em;
}


#profil-box {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-start;
}

#back-image {
    width: 58px;
    height: 58px;
    border: 2px white solid;
    border-radius: 50%;
    margin-left: 1.1em;
}

#back-image img {
    width: 20px;
    height: 20px;
    padding: 17px
}

#input-search {
    width: 17vw;
    height: 58px;
    background-color: #272727;
    color: white;
    direction: rtl;
    padding: 0px 10px;
    font-size: 16px;
    margin-left: 10%;
}

#item-nav {
    width: 50%;
    margin-left: 10%;

}

#item-nav ul {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 1em;
    list-style-type: none;
    font-size: 1.5vw;
    font-weight: 350;
    cursor: pointer;
}

#main-img-box {
    position: absolute;
    z-index: -2;
    background-color: #272727;
    width: 100%;
    height: 580px;
}

#main-img {
    position: absolute;
    height: 85vh;
    width: 32vw;
    margin-left: 65vw;
    margin-top: 8vh;

}

#title-main {
    color: white;
    padding-top: 15vh;
    padding-left: 13vw;
    font-size: 5vw;
    direction: ltr;

}

#description-main {
    color: dimgrey;
    font-size: 1.4vw;
    direction: rtl;
    text-align: right;
    padding-right: 47vw;
    margin-top: 4vh;
}

#bot-content {

    display: inline-block;
    margin-left: 17vw;
    margin-top: 11vh;


}

#bot-rubi {
    color: white;
    background-color: darkorange;
    font-size: 1.5vw;
    margin-left: 4vw;
    padding: 1vw 5vh;
    text-decoration: none;
}

#bot-store {
    color: white;
    background-color: dimgrey;
    font-size: 1.5vw;
    padding: 1vw 5vh;
    text-decoration: none;
}

#ghab-main {
    position: absolute;
    height: 87vh;
    width: 35vw;
    margin-left: 60vw;
    margin-top: 12vh;
    z-index: -1;
}

.grid-container {
    margin-top: 150px;
    display: grid;
}

.item1 {
    grid-column: 1/4;
    grid-row: 1;
    position: relative;

}

.item2 {
    grid-column: 3;
    grid-row: 1/3;
    position: relative;
}

.item3 {
    display: flex;
    justify-content: space-around;
    grid-column: 1;
    grid-row: 2/5;
    position: relative;
}

.item5 {
    grid-column: 2/4;
    grid-row: 3/5;
    position: relative;
}

.item4 {
    position: relative;
}

.item1 > img {
    margin-left: 0.2em;
    width: 64.5vw;
    height: 44vh;
    filter: brightness(80%);
}

.item2 > img {
    width: 31vw;
    height: 79vh;
    filter: brightness(80%);
}

.item31 > img {
    width: 20vw;
    height: 67vh;
    filter: brightness(80%);
}

.item32 > img {
    width: 20vw;
    height: 67vh;
    filter: brightness(80%);
}

.item4 > img {
    width: 24vw;
    height: 35vh;
    filter: brightness(80%);
}

.item5 > img {

    width: 56vw;
    height: 31vh;
    filter: brightness(80%);
}

.item1 > h3 {
    position: absolute;
    left: 56vw;
    top: 36vh;
    font-size: 30px;
    color: #eae9e9;
    text-shadow: 2px 2px 2px black
}

.item2 > h3 {
    position: absolute;
    left: 1vw;
    top: 70vh;
    font-size: 30px;
    color: #eae9e9;
    text-shadow: 2px 2px 2px black
}

.item4 > h3 {
    position: absolute;
    left: 14vw;
    top: 27vh;
    font-size: 30px;
    color: #eae9e9;
    text-shadow: 2px 2px 2px black
}

.item5 > h3 {
    position: absolute;
    left: 48vw;
    top: 24vh;
    font-size: 30px;
    color: #eae9e9;
    text-shadow: 2px 2px 2px black
}

.item31 > h3 {
    position: absolute;
    left: 12vw;
    top: 60vh;
    font-size: 30px;
    color: #eae9e9;
    text-shadow: 2px 2px 2px black
}

.item32 > h3 {
    position: absolute;
    left: 32vw;
    top: 60vh;
    font-size: 30px;
    color: #eae9e9;
    text-shadow: 2px 2px 2px black
}



.item-category a:hover {
   text-shadow: 5px 5px 2px 1px dimgray;
    border-bottom: 1px black solid;
}
